#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    top: 0;
    height: 620px;

}

.project-heading p{
    font-size: 30px;
    padding: 15px 0;

   
}
.project-heading{
    width: 25%;
    margin-top: 90px;
    border-bottom: 1px solid hotpink;

}

.projectbox{
    display: flex;
    height: 70%;
    width: 90%;
    margin: 70px auto;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width:545px){
    .project-heading{
        width: 55%;
    } 
}

@media screen and (max-width:369px)
{
    .project-heading p{
        font-size: 25px;
    }
}

